body {

    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.orange_color {
    color: #F88567;
}

.flexible-container {
    margin-top: 50px;
    display: flex;
}

.half-header {
    width: 50%;

    padding: 5%;
}

.hire-me-button {

    margin-top: 10;
    margin-right: 20px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 8px;
}



.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.think-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-body {
    padding-right: 10%;
}

.experience-style {
    padding-left: 5%;
    /* background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    position: left;
    transform: rotate(100); */
}


.experience-item {

    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    border-radius: 16px;
    position: relative;

}

.download-button {
    position: absolute;
    right: 0;
    top: 51px;
}

.title-button {
    align-items: justify;
    display: flex;

}




#boomdevs {
    border-left: 8px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

#pandascrow {
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}


footer p {
    text-align: center;
    margin-top: 2%;
}